form {
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    box-shadow: 5px 5px 5px rgba(17, 16, 16, 0.507);
    background: linear-gradient(#bd09b7, #6b4cf5)
}

#uno {
    margin: 0 auto;
    border-color: rgba(240, 248, 255, 0.007);
    text-transform: initial;
}

#email {
    width: 100%;
    padding: 7px;
    border-radius: 7px;
}

#dos {
    margin: 0 auto;
    border-color: rgba(240, 248, 255, 0.007);
    text-transform: initial;
}

#contrasena {
    width: 100%;
    padding: 7px;
    border-radius: 7px;
}

#tres {
    margin: 0 auto;
    border-color: rgba(240, 248, 255, 0.007);
    text-align: inherit;
}


#lang {
    padding: 7px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;


}


#terms {
    padding: 10px;
    display: inline-block;
    width: 20px;
    margin: 10px 10px;
    text-align: right;
    margin-right: 5px;
}

#enviar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 5px 15px;
    position: relative;
    left: 20px;
    top: 20px;


}

@media screen and (max-width: 499px) {
    form {
        width: 100%;
    }
}